@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
.attribution a {
    color: hsl(228, 45%, 44%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 38%, 61%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    font-size: .9rem;
    padding: 2.4rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: top 0 left 0, bottom 0 right 0;
}

main{
    max-width: 44.4rem;
}
.title{
    font-size: 1rem;
}
.title h1{}
.title p{}